.CP-sandbox,
.CP-sandbox *,
.CP-block,
.CP-block * {
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  vertical-align: bottom;
  padding: 0;
  margin: 0;
}

.CP--box-border {
  position: relative;
  border-radius: 2px;
  overflow: hidden;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0 0 1px 0.5px rgba(0, 0, 0, 0.2) inset;
    pointer-events: none;
  }
}

:root {
  --colorPickerBg: #fff;
  --colorPickerInputTitle: #999;
  --colorPickerInputTitleBg: #e7e8e9;
  --colorPickerInputText: #666;
  --colorPickerInputTextBg: #eceef0;
  --colorPickerDropper: #9099a4;
  --colorPickerDropperBg: #eceef0;
  --colorPickerShadow: #00000033;
  --colorPickerSlider: #fff;
}
